---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <article>
        {{content}}
      </article>
    </div>
  </div>
</div>
<p><br/></p>
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area ">
	  <div class="post-list-header">
          {{ page.categories }}
	  </div>
      <div class="post-list-body">
        <div class="all-posts" post-cate="All">
            {% for post in site.categories.[page.categories] %}
            <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
              <h2>
              {{ post.title }}
              </h2>
              <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% include catelist.html %}
</div>
